/**
 * All of the CSS for your public-facing functionality should be added here
 */
.wpps-form-row {
    margin: 15px auto;
}

.wpps-form-row label {
    display: block;
}

.wpps-paninate-link .page-numbers {
    padding: 8px;
}

.wpps-paninate-link {
    text-align: center;
}